.dashboard {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($double-spacing-unit);

    &__item {
        padding-left: $double-spacing-unit;
        margin-bottom: $double-spacing-unit;
        width: calc(100% / 3);
        display: flex;

        &--medium {
            width: 40%;
        }

        &--large {
            width: 60%;
        }

        @include mq(palm) {
            width: 100%;
        }
    }
}

.dashboard-panel {
    box-shadow: $box-shadow;
    padding: $double-spacing-unit;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        flex-grow: 1;
    }

    &__chart {
        margin: $base-spacing-unit auto $double-spacing-unit;
        width: 100%;
        position: relative;

        &--small {
            width: 60%;
        }
    }

    &__label {
        position: absolute;
        left: -8%;
        top: 40%;
        font-size: 14px;

        &--right {
            left: auto;
            right: -8%;
        }
    }
}