.ct-chart {
    .ct-series {
        &.yellow {
            path {
                stroke: get-color(yellow);
            }
        }

        &.orange {
            path {
                stroke: get-color(yellow, darker);
            }
        }

        &.lightgray {
            path {
                stroke: get-color(gray, extra-light);
            }
        }

        &.gray {
            path {
                stroke: get-color(gray);
            }
        }

        &.darkgray {
            path {
                stroke: get-color(gray, darker);
            }
        }
    }
}

/* Use this selector to override bar styles on bar charts. Bars are also strokes so you have maximum freedom in styling them. */
.ct-bar {
    /* The width of your bars */
    stroke-width: 60px;
}

.ct-grid {
    stroke-dasharray: 0px;
    stroke: get-color(gray, extra-light);

    &.ct-horizontal {
        display: none;
    }
}

.ct-label {
    font-size: $micro-size;
    color: get-color(black);
    fill: get-color(black);
}