.legend {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        position: relative;
        padding-top: $halve-spacing-unit;
        padding-bottom: $halve-spacing-unit;
        padding-left: $quadruple-spacing-unit;
        padding-right: $triple-spacing-unit;
        line-height: $triple-spacing-unit;
        font-size: 14px;
        width: 50%;
    }

    &__color {
        position: absolute;
        top: $halve-spacing-unit;
        left: 0;
        display: block;
        width: $triple-spacing-unit;
        height: $triple-spacing-unit;
        box-shadow: $box-shadow;
    }
}
