$colors: (
    black: (
        darkest: #000000,
        base: #2a292e
    ),
    white: (
        base: #ffffff,
        darker: #f6f6f7
    ),
    yellow: (
        lightest: #fffaea,
        lighter: #fff3cb,
        base: #ffe8a2,
        darker: #ffbd00,
        darkest: #c3b68d
    ),
    gray: (
        darker: #959497,
        base: #e9e9ea,
        lighter: #f0f0f1,
        lightest: #f6f6f7,
        extra-light: #dfdfe0
    ),
    pink: (
        base: #fa6b7b
    )
);