// Memphis Medium
@font-face {
    font-family: 'Memphis';
    font-weight: normal;
    src: url("#{$assets-path}/fonts/memphis.woff2") format("woff2"),
         url("#{$assets-path}/fonts/memphis.woff") format("woff"),
         url("#{$assets-path}/fonts/memphis.ttf") format("truetype");
}

// Memphis Bold
@font-face {
    font-family: 'Memphis';
    font-weight: bold;
    src: url("#{$assets-path}/fonts/memphis-bold.woff2") format("woff2"),
         url("#{$assets-path}/fonts/memphis-bold.woff") format("woff"),
         url("#{$assets-path}/fonts/memphis-bold.ttf") format("truetype");
}

// Avenir Book
@font-face {
    font-family: 'Avenir';
    font-weight: normal;
    src: url("#{$assets-path}/fonts/avenir.woff2") format("woff2"),
         url("#{$assets-path}/fonts/avenir.woff") format("woff"),
         url("#{$assets-path}/fonts/avenir.ttf") format("truetype");
}

// Avenir Medium
@font-face {
    font-family: 'Avenir';
    font-weight: bold;
    src: url("#{$assets-path}/fonts/avenir-bold.woff2") format("woff2"),
         url("#{$assets-path}/fonts/avenir-bold.woff") format("woff"),
         url("#{$assets-path}/fonts/avenir-bold.ttf") format("truetype");
}

@font-face {
    font-family: 'icomoon';
    src: url('#{$assets-path}/fonts/icomoon.eot?e5bk7w');
    src: url('#{$assets-path}/fonts/icomoon.eot?e5bk7w#iefix') format('embedded-opentype'),
         url('#{$assets-path}/fonts/icomoon.woff2?e5bk7w') format('woff2'),
         url('#{$assets-path}/fonts/icomoon.ttf?e5bk7w') format('truetype'),
         url('#{$assets-path}/fonts/icomoon.woff?e5bk7w') format('woff'),
         url('#{$assets-path}/fonts/icomoon.svg?e5bk7w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

$fonts: (
    memphis: (
        base:   Arial,
        custom: 'Memphis',
        weight: normal
    ),
    memphis-bold: (
        base:   Arial,
        custom: 'Memphis',
        weight: bold
    ),
    avenir: (
        base:   Arial,
        custom: 'Avenir',
        weight: normal
    ),
    avenir-bold: (
        base:   Arial,
        custom: 'Avenir',
        weight: bold
    )
);

$icomoon: 'icomoon';