$base-font-size: 16px;
$base-line-height: 1.6;

/**
 * h1, .alpha
 * h2, .beta
 * h3, .gamma
 * h4, .delta
 * h5, .epsilon
 * h6, zeta
 * .milli
 * .micro
 *
 * .copy
 */
$alpha-size: 38px;
$beta-size: 28px;
$gamma-size: 24px;
$delta-size: 22px;
$epsilon-size: 18px;
$zeta-size: 18px;

$milli-size: 16px;
$micro-size: 14px;
$nano-size: 12px;
$pico-size: 10px;

$copy-size: (
    tp480:  16px,
    tp1200: 18px
);