$breakpoints: (
    palm:            'screen and (max-width: 32em)', // 512px
    portable:        'screen and (max-width: 48em)', // 768px
    portable-and-up: 'screen and (min-width: 32.0625em)', // 513px
    lap:             'screen and (min-width: 48.0625em) and (max-width: 85.375em)', // 768px - 1366px
    lap-and-down:    'screen and (max-width: 85.375em)', // 1366px
    desk-and-up:     'screen and (min-width: 85.4325em)', // 1367px
);

$tweakpoints: (
);