$base-spacing-unit: 0.5rem;
$quarter-spacing-unit: $base-spacing-unit / 4;
$halve-spacing-unit: $base-spacing-unit / 2;
$double-spacing-unit: $base-spacing-unit * 2;
$triple-spacing-unit: $base-spacing-unit * 3;
$quadruple-spacing-unit: $base-spacing-unit * 4;