%icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    @extend %icon;
}

.icon-arrow_down:before {
  content: "\e902";
}
.icon-arrow_left:before {
  content: "\e903";
}
.icon-arrow_right:before {
  content: "\e904";
}
.icon-arrow_up:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-checkmark:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e916";
}
.icon-close_big:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-link_external:before {
  content: "\e90a";
}
.icon-linkedin:before {
  content: "\e913";
}
.icon-list_bullet:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-minus:before {
  content: "\e900";
}
.icon-pdf:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e914";
}
.icon-warning:before {
  content: "\e90c";
}
.icon-whatsapp:before {
  content: "\e915";
}
.icon-youtube:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-social_share:before {
  content: "\e908";
}
.icon-magnifying_glass:before {
  content: "\e918";
}
