$assets-path: '..';

$content-width: 40rem;
$title-width: 50rem;
$intro-width: 50rem;
$max-site-width: 1008px;
$max-site-width-full: 1392px;
$scrollbar-width: 17px;
$page-panel-main-spacing: $base-spacing-unit * 10;
$page-panel-main-spacing-palm: $base-spacing-unit * 5;

$widths-columns: (
    1,
    2,
    3,
    4,
    5
);

$border-radius: 5px;