.statistic {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: ($base-spacing-unit * 6) 0;

    span {
        font-size: 60px;
        line-height: 60px;
        display: block;
    }
}