.container {
    width: 100%;
    max-width: $max-site-width;
    padding: 0 $triple-spacing-unit;
    margin: 0 auto $quadruple-spacing-unit;
    box-sizing: border-box;

    @include mq(palm) {
        padding: 0 $double-spacing-unit;
    }
}