/**
 * Get font-family and font-weight based on element
 * @param  {String} $element Element to set the font
 */
 @mixin get-fonts($element, $use-important: false) {
    $custom-font: map-deep-get($fonts, #{$element}, custom);
    $base-font: map-deep-get($fonts, #{$element}, base);
    $weight: map-deep-get($fonts, #{$element}, weight);

    $font-family: join(
        $custom-font,
        $base-font,
        comma
    );

    $important-tag: null;

    @if $use-important {
        $important-tag: !important;
    }

    font-family: $font-family, sans-serif $important-tag;
    font-weight: $weight $important-tag;
}
