/**
 * Get (nested) value out of map
 * @param  {string} $map     Mapname to read
 * @param  {string} $keys... Key to search for (there can be multiple keys)
 * @return {string}          Value of the map key
 */
 @function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

/**
 * Replace part of a string
 * @param  {String} $string   String with the replacement
 * @param  {String} $search   Part of string to replace
 * @param  {String} $replace  Replacement of the string
 * @return {String}           Replaced string
 */
@function str-replace($string, $search, $replace: '') {
    @if type-of($string) == 'list' {
        $list: ();

        @each $item in $string {
            $index: str-index($item, $search);

            @if $index {
                $list: append($list, str-slice($item, 1, $index - 1) + $replace + str-replace(str-slice($item, $index + str-length($search)), $search, $replace));
            } @else {
                $list: append($list, $item);
            }
        }

        @return $list;
    } @else {
        $index: str-index($string, $search);

        @if $index {
            @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
        }

        @return $string;
    }
}

/**
 * Convert string to number
 * @param  {String} $value String to convert
 * @return {Number}        converted number
 */
@function to-number($value) {
    @if type-of($value) == 'number' {
        @return $value;
    } @else if type-of($value) != 'string' {
        $_: log('Value for `to-number` should be a number or a string.');
    }

    $result: 0;
    $digits: 0;
    $minus: str-slice($value, 1, 1) == '-';
    $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

    @for $i from if($minus, 2, 1) through str-length($value) {
        $character: str-slice($value, $i, $i);

        @if not (index(map-keys($numbers), $character) or $character == '.') {
            @return to-length(if($minus, -$result, $result), str-slice($value, $i))
        }

        @if $character == '.' {
          $digits: 1;
        } @else if $digits == 0 {
          $result: $result * 10 + map-get($numbers, $character);
        } @else {
          $digits: $digits * 10;
          $result: $result + map-get($numbers, $character) / $digits;
        }
    }

    @return if($minus, -$result, $result);;
}
