///*------------------------------------*\
//    #WIDTHS
//\*------------------------------------*/

// A mixin to spit out our width classes. Pass in the columns we want the widths
// to have, and an optional suffix for responsive widths. E.g. to create thirds
// and quarters for a small breakpoint:
//
// @include inuit-widths(3 4, -sm);

// Do we want to use classes like `<div class="1/4">` instead of
// `<div class="1-of-4">`?
$use-fractions: true !default;

// Depending on what we chose for `$use-fractions`, create the relevant
// delimiter.
@if ($use-fractions == true) {
    $widths-delimiter: \/!global;
} @else {
    $widths-delimiter: -of-!global;
}

@mixin widths($widths-columns, $widths-breakpoint: null) {

    // Loop through the number of columns for each denominator of our fractions.
    @each $widths-denominator in $widths-columns {

        // If we’re trying to make wholes, just spit a 100% width utility out
        // one time only.
        @if ($widths-denominator == 1) {
            [class~="#{$widths-breakpoint}width--1#{$widths-delimiter}1"] {
                width: 100% !important;
            }
        } @else {

            // Begin creating a numberator for our fraction up until we hit the
            // denominator.
            @for $widths-numerator from 1 to $widths-denominator {

                // Build a class in the format `.3/4` or `.3-of-4`.
                [class~="#{$widths-breakpoint}width--#{$widths-numerator}#{$widths-delimiter}#{$widths-denominator}"] {
                    width: ($widths-numerator / $widths-denominator) * 100% !important;
                }

            }

        }

    }

}

