// A simple mixin to quickly generate whole media queries from the aliases and
// conditions defined in `_vars.scss`.
//
// Usage:
//
// .foo {
//     color: green;
//
//     @include media-query(tp320) {
//         color: red;
//     }
//
// }

@mixin mq($mq) {

    $breakpoint-found: false;

    // Loop through the list of breakpoints we’ve provided in our settings file.
    @each $breakpoint in $breakpoints {

        // Grab the alias and the condition from their respective locations in
        // the list.
        $alias:     nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);

        // If the media query we’ve specified has an alias and a condition...
        @if $mq == $alias and $condition {

            // ...tell the mixin that we’ve found it...
            $breakpoint-found: true;

            // ...and spit it out here.
            @media #{$condition} {
                @content;
            }

        }

    }

    // If the user specifies a non-exitent alias, send them a warning.
    @if $breakpoint-found == false{
        @warn "Oops! Breakpoint ‘#{$mq}’ does not exist."
    }

}

// A simple mixin to quickly generate whole media queries from the aliases and
// conditions defined in `_vars.scss`.
//
// Usage:
//
// .foo {
//     color: green;
//
//     @include media-query(tp320) {
//         color: red;
//     }
//
// }

@mixin tp-mq($mq) {

    $tweakpoint-found: false;

    // Loop through the list of tweakpoints we’ve provided in our settings file.
    @each $tweakpoint in $tweakpoints {

        // Grab the alias and the condition from their respective locations in
        // the list.
        $alias:     nth($tweakpoint, 1);
        $condition: nth($tweakpoint, 2);

        // If the media query we’ve specified has an alias and a condition...
        @if $mq == $alias and $condition {

            // ...tell the mixin that we’ve found it...
            $tweakpoint-found: true;

            // ...and spit it out here.
            @media #{$condition} {
                @content;
            }

        }

    }

    // If the user specifies a non-exitent alias, send them a warning.
    @if $tweakpoint-found == false{
        @warn "Oops! Tweakpoint ‘#{$mq}’ does not exist."
    }

}
