/**
 * Get the font size and calculate font size based on viewport width
 * @param  {Object} $size        Map of used font-sizes
 * @param  {Number} $additional  Add an addition to the font-size
 */
 @mixin set-font-size($size, $line-height: 30px, $additional: 0, $use-important: false) {
    @if type-of($size) == 'map' {
        $keys: map-keys($size);

        $keys: str-replace($keys, 'tp');
        $list: ();

        @each $key in $keys {
            $list: append($list, to-number($key));
        }

        $breakpoint-max: max($list...);
        $breakpoint-min: min($list...);

        $font-size-large: map-get($size, tp#{$breakpoint-max}) + $additional;
        $font-size-small: map-get($size, tp#{$breakpoint-min}) + $additional;

        $number-base: to-number(str-replace('#{$base-font-size}', 'px'));
        $number-min: to-number(str-replace('#{$font-size-small}', 'px'));
        $number-max: to-number(str-replace('#{$font-size-large}', 'px'));

        $factor: ($number-max - $number-min);

        $important: null;

        @if $use-important {
            $important: !important;
        }

        @if str-index('#{$line-height}', 'px') != null {
            $line-height: ($line-height / $font-size-large);
        }

        font-size: calc((#{$number-min}/#{$number-base} * 1rem) + #{$factor} * (100vw - #{$breakpoint-min}px) / (#{$breakpoint-max} - #{$breakpoint-min})) $important;
        line-height: $line-height $important;

        @media screen and (max-width: $breakpoint-min + px) {
            font-size: $font-size-small $important;
            line-height: $line-height $important;
        }
        @media screen and (min-width: $breakpoint-max + px) {
            font-size: $font-size-large $important;
            line-height: $line-height $important;
        }
    } @else {
        $important: null;

        @if $use-important {
            $important: !important;
        }

        font-size: $size $important;
        line-height: ($line-height / $size) $important;
    }
}
